<p class="form-group" id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_host_path(@host),:class => 'btn btn-info btn-xs active' %> |
<%= link_to 'Back', hosts_path ,:class => 'btn btn-info btn-xs active'%>

<div class="form-horizontal">

  <p class="form-group">
    <label class="col-sm-2 control-label">Ip listen:</label>
  <span class="col-sm-10" > <%= @host.ip_listen %> </span>
  </p>

  <p class="form-group">
    <label class="col-sm-2 control-label">Ip serv:</label>
    <span class="col-sm-10" > <%= @host.ip_serv %> </span>
  </p>

  <p class="form-group">
    <label class="col-sm-2 control-label">Port:</label>
    <span class="col-sm-10" > <%= @host.port %> </span>
  </p>

  <p class="form-group">
    <label class="col-sm-2 control-label">Port passive begin:</label>
    <span class="col-sm-10" > <%= @host.port_passive_begin %> </span>
  </p>

  <p class="form-group">
    <label class="col-sm-2 control-label">Port passive end:</label>
    <span class="col-sm-10" > <%= @host.port_passive_end %> </span>
  </p>
</div>
